<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonytwei.wathousing" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".HousingListActivity"
            android:exported="true"
            android:label="@string/title_housing_list" >
        </activity>
        <activity
            android:name=".HousingDetailActivity"
            android:exported="true"
            android:label="@string/title_housing_detail"
            android:parentActivityName=".HousingListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tonytwei.wathousing.HousingListActivity" />
        </activity>
        <activity
            android:name=".WriteReview"
            android:label="@string/title_activity_write_review"
            android:exported="true"
            android:parentActivityName=".HousingDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tonytwei.wathousing.HousingDetailActivity" />
        </activity>
    </application>

</manifest>
